VITE_EMAILJS_PUBLIC_KEY=your_emailjs_public_key_here
VITE_EMAILJS_SERVICE_ID=your_emailjs_service_id_here
VITE_EMAILJS_TEMPLATE_ID_ADMIN=template_admin_notification
VITE_EMAILJS_TEMPLATE_ID_USER=template_user_confirmation
